.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 10px;
  max-width: 100%;
  background-color: #ffffff;
  padding-bottom: 3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border: none;
  border-radius: 10px;
}
