#postgrid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-top: 3rem;
}

#postcard
{
    text-decoration: none;
    color: white;
    display: block;
    
}
#postcard img
{
    width: 100%;
    object-fit: contain;
}
#PostContain {
    display: flex;
    flex-direction: column;
    background-color: #1e293be0;
    width: 220px;
    height: 200px;
    justify-content: space-between; 
    align-items: center;
    border: 1px solid #374151;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.15s ease, border 0.15s ease;
    overflow: hidden;
}
#PostContain img {
    border-radius: 2px;
    width: 100%;
    height: 110px;
    object-fit: cover; /* keeps image neat inside */
    flex-shrink: 0;
}
#PostContain:hover
{
    background-color: #374151;
    border: 1px solid rgb(64, 63, 63);
}
#title {
    font-weight: bold;
    text-align: center;
    margin: 4px 0;
    max-width: 100%;
    font-size: 15px;
    line-height: 1.2em;
    max-height: 2.4em; /* allow 2 lines max */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* limit to 2 lines */
    -webkit-box-orient: vertical;
    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.7),
      0 0 10px rgba(255, 255, 255, 0.7),
      0 0 20px rgba(255, 255, 255, 0.7);
}
#PostContain p:last-child {
    color: silver;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 2px;
    text-align: center;
}

