#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;          
  padding: 2rem;
  background-color: rgb(15, 19, 24);
  color: white;
  gap: 2rem;
  border-top: 3px solid rgb(71, 73, 76);
}


#footer #logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#footer #logo span {
  font-weight: bolder;
  font-size: 30px;
  color: #F9FAFB;
    text-shadow: 
    0 0 3px #FFD700,
    0 0 6px #F9D423,
    0 0 10px #FFEF8B;
  text-align: center;
}


#footer .ax {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#footer .ax span {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.1rem;
    text-shadow:
  0 0 5px rgba(255, 255, 255, 0.7),
  0 0 10px rgba(255, 255, 255, 0.7),
  0 0 20px rgba(255, 255, 255, 0.7);

}


#footer .ax a {
  color: white;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

#footer .ax a:hover {
  color: #ffcb3a;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  #footer {
    flex-direction: column;   
    align-items: center;
    text-align: center;
  }

  #footer .ax {
    align-items: center;
  }

  #footer #logo {
    flex-direction: column;
  }

  #footer #logo span {
    font-size: 22px;          
  }
}
