
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;   
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #090c0f;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1200px;       
  margin: auto;          
  margin-top: 80px;
  padding: 20px;
  box-sizing: border-box;
    font-family: "SUSE Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#container
{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #dde5ec;
}

@media (max-width: 768px) {
  #content {
    padding: 12px;
  }
}

/* Small screens */
@media (max-width: 480px) {
  #content {
    padding: 8px;
  }
}